<% provide(:title, 'About') %>
<div class="cv">
<h1>About Little Fire</h1>

<p>Little Fire means energetic and enthusiastic young man. Interested in my background? This is the right place. </p>

<h3>Education</h3>

<ul>
  <li>08/2009-12/2011    MS in EE, North Carolina State University, GPA: 3.72</li>
   <li>09/2003-07/2007    BS in EE, Zhejiang University, China, GPA: 3.86</li>
</ul>

<h3>Software Skills</h3>

 <ul>
   <li>Proficient in Java, data structures and algorithms</li>
   <li>Experience in Perl, Python, shell scripting and LINUX utilities grep / sed etc</li>
   <li>Experience in HTML, CSS, JavaScript, Ruby on Rails</li>
 </ul>

<h3>Work Experience</h3>

<h4><span class="timeline">01/2012-present</span>   Design Engineer @ ARM  –  San Jose, CA</h4>

<ul>
  <li>Register file SRAM CMOS circuit design and verification</li>
  <li>Perl/Python scripting for data extraction, formatting and reporting</li>
    <ol>
      <li>Data extraction and reporting automation in <strong>Perl</strong></li>
      <li>Early stage circuit leakage problem analysis in <strong>Perl</strong></li>
      <li>Verilog infrastructure development in <strong>Perl</strong></li>
      <li>Verilog spec generator in <strong>Python</strong></li>
    </ol>
</ul>

<h3>Stanford Open Course Projects</h3>

<h4><span class="timeline">06/2013-12/2013</span>   Web Application in Ruby on Rails - CS142</h4>

<ul>
  <li>Photo posting blog website development with Ruby on Rails</li>
  <li><strong>Core features:</strong></li>
    <ol>
      <li>User registration, login and logout</li>
      <li>Photo upload and comments posting</li>
      <li>Photo tagging with JavaScript ( only available to logged in users )</li>
      <li>Photo search with JavaScript and AJAX</li>
    </ol>
  <li><a href="http://littlefire.herokuapp.com/">http://littlefire.herokuapp.com/</a></li>
  <li><a href="https://github.com/ywang28/smart_blog">https://github.com/ywang28/smart_blog</a></li>
</ul>

<h4><span class="timeline">04/2013-05/2013</span>   Programming Methodology in Java - CS106A</h4>
<ul>
  <li>Basic Breakout game with fixed size paddle and 5 levels of bricks</li>
  <li>Hangman. Popular word guess game with guess word recording and hangman drawing</li>
  <li>Yahtzee game supporting up to 4 players and 13 score categories with score board</li>
  <li>All the games are using Stanford acm graphics library</li>
</ul>
</div>