<% provide(:title, "contact") %>
<h1>Contact</h1>
<p>
  The Smart Blog is developed based on Stanford open course project <a href="http://www.stanford.edu/~ouster/cgi-bin/cs142-spring13/projects.php">CS142: Web Applications</a>.

  Some great ideas are learned from <a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial</a>.
</p>
<p>
  If you have more questions, please contact Yalin at this email 
  <a href = "mailto: ywang28@ncsu.edu">ywang28@ncsu.edu</a>
</p>