<% provide(:title, "home") %>
<div class="center hero-unit">
  <h1>Welcome to the Smart Blog</h1>

  <h2>
    Welcome to littlefire's home page
  </h2>

  <%= link_to "Sign up now!", new_user_path,
                                class: "btn btn-large btn-primary" %>
   <%= link_to "View as guest user", users_path,
                                class: "btn btn-large btn-primary" %>                               
</div>
