<footer class="footer">
  <small class="text-center"> Copyright © 2014 Welcome to little fire's blog </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>